html{
  color: white;
  background-color: black;
}

.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.album{
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#labelSpan {
  font-weight: bold;
}